<settings>
	<!-- <category label="[COLOR red][B]TIVUSTREAM.COM[/B][/COLOR]"> -->
        <setting type="lsep" label="CONFIG TIVUSTREAM ADDON 1.1.9" />
		<setting id="log_m3u" type="text" label="[B]Changelog[/B]" default="http://bit.ly/3lMtzDd" visible="false" />
        <!--
		<setting label="Select default view mode" id="auto-view" type="bool" default="true" />
		<setting label="adult_request_password"  id="adult_request_password" type="bool"  enable="!eq(-1,0)+!eq(-2,)" default="true"/>
		-->
		<setting type="lsep" label="SET PASSWORD" />
		<setting id="adult_password" type="text" label="Set Password: 'Request from www.tivustream.com" default="0000" option="hidden" />
	<!-- </category> -->
</settings>
