<settings>
	<category label="[COLOR red][B]TIVUSTREAM.COM[/B][/COLOR]">
		<setting label="[B]Changelog[/B]" type="text" visible="false" id="log_m3u" default="https://bit.ly/3orJ0Ct" />
		<setting label="[B]Eventi Live[/B]" type="text"  id="events_m3u" default="https://tivustream.website/php_filter/tsl.php?t=3" />
		<setting label="[B]Canali Italiani Top[/B]" type="text"  id="free_it_m3u" default="https://tivustream.website/php_filter/tsl.php?t=1" />
		<setting label="[B]Canali Italiani Regionali[/B]" type="text"  id="free_reg_m3u" default="https://tivustream.website/php_filter/tsl.php?t=8" />
		<setting label="[B]Canali Sport Italia[/B]" type="text"  id="sport_it_m3u" default="https://tivustream.website/php_filter/tsl.php?t=2" />
		<setting label="[B]Canali Sport Esteri[/B]" type="text"  id="sport_int_m3u" default="https://tivustream.website/php_filter/tsl.php?t=4" />
		<setting label="[B]Film recenti ed in Sala[/B]" type="text"  id="media_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=21" />
		<setting label="[B]Film 0-9[/B]" type="text"  id="media_09_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=22" />
		<setting label="[B]Film A-F[/B]" type="text"  id="media_af_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=23" />
		<setting label="[B]Film G-L[/B]" type="text"  id="media_gl_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=24" />
		<setting label="[B]Film M-R[/B]" type="text"  id="media_mr_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=25" />
		<setting label="[B]Film S-Z[/B]" type="text"  id="media_sz_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=26" />
		<setting label="[B]Film Internazionali[/B]" type="text"  id="mediaint_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=26" />
		<setting label="[B]Serie tv 0-9[/B]" type="text"  id="series_09_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=11" />
		<setting label="[B]Serie tv A-E[/B]" type="text"  id="series_ae_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=12" />
		<setting label="[B]Serie tv F-K[/B]" type="text"  id="series_fk_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=13" />
		<setting label="[B]Serie tv L-R[/B]" type="text"  id="series_lr_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=14" />
		<setting label="[B]Serie tv S-Z[/B]" type="text"  id="series_sz_m3u" default="https://tivustream.website/php_filter/tsl.php?p=2&t=15" />
		<setting label="[B]Serie Tv Internazionali[/B]" type="text"  id="seriesint_m3u" default="http://bit.ly/Kodi12SerieInter" />
		<setting label="[B]Canali Musica ( Radio Tv )[/B]" type="text"  id="music_m3u" default="https://tivustream.website/php_filter/tsl.php?t=5" />
		<setting label="[B]Canali News[/B]" type="text"  id="news_m3u" default="https://tivustream.website/php_filter/tsl.php?t=6" />
		<setting label="[B]Canali Internazionali[/B]" type="text"  id="int_m3u" default="https://tivustream.website/php_filter/tsl.php?t=7" />
		<setting label="[B]Canali Internazionali II[/B]" type="text"  id="int2_m3u" default="https://tivustream.website/php_filter/fh.php" />
		<setting label="[B]Radio Italiane[/B]" type="text"  id="radio_m3u" default="https://tivustream.website/php_filter/tsl.php?p=3&t=1" />
		<setting label="[B]Radio Internazionali[/B]" type="text"  id="radioint_m3u" default="https://tivustream.website/php_filter/tsl.php?p=3&t=2" />
		<setting label="[B]Dash Radio[/B]" type="text"  id="radiodash_m3u" default="https://tivustream.website/php_filter/tsl.php?p=3&t=3" />
		<setting label="[B]Look and Relax[/B]" type="text"  id="relax_m3u" default="https://tivustream.website/php_filter/tsl.php?t=9" />
		<setting label="[B]OTHER[/B]" type="text"  id="online_m3u" default="https://bit.ly/2ZRG8Fd" />
	</category>
</settings>

