<settings>
	<category label="General">
		<setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" visible="true" />
		<setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="true" visible="true" />
		<setting id="ask_playlist_items" type="bool" label="Ask playlist items to choose from dialog" default="true" visible="true" />
		<setting id="debug" type="bool" label="Enable Add-on Debugging" default="false" visible="false" />
	</category>
	<category label="Access">
		<setting id="baseUrl" label="Start Json Url" type="text" default="https://tivustream.website/urls/disclaimer" visible="true" />
		<setting id="password" label="Access Password" type="text" option="hidden" default="TiVuStream" visible="true" />
	</category>
</settings>
